*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:darksalmon;
    background-image: url(https://source.unsplash.com/1600x900/?Japonia);
    background-repeat: no-repeat;
    background-size: cover;

}
.card{
    font-family: 'Antonio', sans-serif;
    padding: 2em;
    background-color: #121212;
    color: white;
    width: 100vw;
    max-width: 420px;
    border-radius: 30px;
    opacity: 0.8;
    margin:1em;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button {
    margin: 0.5em;
    border-radius: 50%;
    height: 2.3rem;
    width: 2.3rem;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s ease-in-out;
    margin-bottom: 40px;
}
.search input{
    outline: none;
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 23px;
    padding: 0.5rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 600 ;
    color: white;
    background-color: transparent;
    margin-bottom: 30px;
}
button:hover{
    background-color: #7c7c7c6b;
}
.temp{
    margin-top: 20px;
}
/* .search-bar{
    border: none;
    outline: none;
} */
.elo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.elo .description {
    font-size: 21px;
}
.cart-forecast {
    display: none;
    width: 100vw;
    max-width: 420px;
    padding: 2rem;
    background-color: #121212;
    color: white;
    display: flex;
    border-radius: 30px;
    opacity: 0.8;
    text-align: center;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    justify-content:left;
    /* flex-wrap: wrap; */
}
.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 25%;
}
.cart-forecast-visibilite{
    display: block;
}